<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	<style>
		
		
		.navbar{
			height:80px;
		}
		
		.baraj{
			margin-top:20px;
		}
		
		.sod{
			width:80%;
			margin-left:auto;
			margin-right:auto;
		}
		.results{
			background:white;
			width:80%;
			height:800px;
			margin-top:80px;
			margin-left:auto;
			margin-right:auto;
		}
		
		body{
			background:#D8D8D8;
		}
		
		.link{
			margin: 20px;
			
		}
		
	</style>
</head>
<body>
	<div class = "bodi">
		<span class = "navbar navbar-inverse navbar-fixed-top sod">

			<form action="/" method="post">
				{% csrf_token %}
				<div class="col-lg-6">
					<div class="input-group baraj">
						<input type="text" name="term" class="form-control" placeholder="Пребарај...">
						<span class="input-group-btn" >
						
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
							</button>
							
						</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</form>
		</span>
		<div class = "results">
		{% if result %}
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Прикажувам резултати за: {{ zbor }} </h3>
				</div>
				<div class="panel-body">

					{% for res in result %}
                        <div class="link">
						<a href="{{ res.0 }}">{{ res.0 }}</a>
						<br/>
                        </div>
					{% endfor %}

				</div>
			</div>



		{% endif %}
		</div>
	</div>
</body>
</html>


